{% extends 'base.html' %}

{% load static %}


{% block content %}

    <!-- Header -->
    <header id="header" class="header">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-xl-5">
            <div class="text-container">
              <div class="section-title">Welcome to iDEA web agency</div>
              <h1 class="h1-large">We create stylish and efficient sites</h1>
              <p class="p-large">
                We design and build creative, engaging and affordable websites,
                in a super sonic time frame and that are ready to work hard for
                your business. We believe that working collaboratively with you
                to understand your business, your target audience and your
                requirements is the best way to create a beautiful, unique
                website that perfectly fits your needs. Then as your business
                grows, we can take care of the ongoing management of your site,
                keeping it secure and up-to-date and adding new functionality as
                your business evolves.
              </p>
              <a class="btn-solid-lg" href="#services">Offered services</a>
              <a class="quote" href="#contact"
                ><i class="fas fa-paper-plane"></i>Get quote</a
              >
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-lg-6 col-xl-7">
            <div class="image-container">
              <img
                class="img-fluid"
                src="{% static 'website/images/header-illustration.svg' %}"
                alt="alternative"
              />
            </div>
            <!-- end of image-container -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </header>
    <!-- end of header -->
    <!-- end of header -->

    <!-- Services -->
    <div id="services" class="cards-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- Card -->
            <div class="card">
              <div class="card-icon blue">
                <span class="far fa-file-alt"></span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Landing page</h5>
                <p>
                  Photographers and artists wanting to display a beautiful
                  portfolio
                </p>
                <ul class="list-unstyled li-space-lg">
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">
                      Coaches, copywriters & other creative professionals
                    </div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">
                      Solo freelancers and service-based businesses
                    </div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">New businesses</div>
                  </li>
                  {% comment %}
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">Curabitur consequat nisl eget</div>
                  </li>
                  {% endcomment %}
                </ul>
              </div>
            </div>
            <!-- end of card -->

            <!-- Card -->
            <div class="card">
              <div class="card-icon yellow">
                <span class="fas fa-solar-panel"></span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Website</h5>
                <p>Salons, restaurants, boutiques and shops</p>
                <ul class="list-unstyled li-space-lg">
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">
                      Domain connection & website set up
                    </div>
                  </li>
                  {% comment %}
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">
                      Integration with Mailchimp, and social media platforms
                    </div>
                  </li>
                  {% endcomment %}
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">
                      FREE hosting during development
                    </div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">
                      Design of up to 5 beautifully styled, mobile-responsive
                      pages
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- end of card -->

            <!-- Card -->
            <div class="card">
              <div class="card-icon red">
                <span class="fas fa-gift"></span>
              </div>
              <div class="card-body">
                <h5 class="card-title">Online shop</h5>
                <p>
                  We help digital retailers to grow and stand out from the crowd
                  to compete online in the busy world of eCommerce.
                </p>
                <ul class="list-unstyled li-space-lg">
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">Email marketing</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">Social media</div>
                  </li>
                  <li class="d-flex">
                    <i class="fas fa-check"></i>
                    <div class="flex-grow-1">Sell online with ease.</div>
                  </li>
                </ul>
              </div>
            </div>
            <!-- end of card -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of cards-1 -->
    <!-- end of services -->

    <!-- Details 1 -->
    <div id="details" class="basic-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-xl-7">
            <div class="image-container">
              <img
                class="img-fluid"
                src="{% static 'website/images/details-1.svg' %} "
                alt="alternative"
              />
            </div>
            <!-- end of image-container -->
          </div>
          <!-- end of col -->
          <div class="col-lg-6 col-xl-5">
            <div class="text-container">
              <h2>
                <span>Perfect solution</span><br />
                for your small business
              </h2>
              <p>
                Our values underpin our approach to working with our customers.
                Our client list can vouch for the quality of our work.
              </p>
              <p>
                We stand by these values and the ethos we promote at Wired
                Media. We are passionate about being an extension of your team.
                Don't take our word for it, check out our client testimonials.
              </p>
              <a
                class="btn-solid-reg"
                data-bs-toggle="modal"
                data-bs-target="#staticBackdrop"
                >Read More</a
              >
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of basic-1 -->
    <!-- end of details 1 -->

    <!-- Details Modal -->
    <div
      id="staticBackdrop"
      class="modal fade"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="row">
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
            <div class="col-lg-8">
              <div class="image-container">
                <img
                  class="img-fluid"
                  src="{% static 'website/images/details-modal.jpg' %}"
                  alt="alternative"
                />
              </div>
              <!-- end of image-container -->
            </div>
            <!-- end of col -->
            <div class="col-lg-4">
              <h3>Goals Setting</h3>
              <hr />
              <p>
                We will help you evolve your online presence, without
                compromising on value or your return on investment.
              </p>
              <h4>Our promise to you</h4>
              <p></p>
              <ul class="list-unstyled li-space-lg">
                <li class="d-flex">
                  <i class="fas fa-chevron-right"></i>
                  <div class="flex-grow-1">
                    We focus on driving more enquiries, bookings and sales, to
                    increase your sales and revenue.
                  </div>
                </li>
                <li class="d-flex">
                  <i class="fas fa-chevron-right"></i>
                  <div class="flex-grow-1">
                    We won’t suggest any activity that doesn’t meet with this
                    goal.
                  </div>
                </li>
                <li class="d-flex">
                  <i class="fas fa-chevron-right"></i>
                  <div class="flex-grow-1">
                    We spend time getting to know you and your brand: what makes
                    you different, and what objectives are you looking to
                    achieve? We then use this research to help you achieve a
                    better return on investment.
                  </div>
                </li>
              </ul>
              <button
                type="button"
                class="btn-solid-reg"
                data-bs-dismiss="modal"
              >
                Close
              </button>
            </div>
            <!-- end of col -->
          </div>
          <!-- end of row -->
        </div>
        <!-- end of modal-content -->
      </div>
      <!-- end of modal-dialog -->
    </div>
    <!-- end of modal -->
    <!-- end of details modal -->

    <!-- Details 2 -->
    <div class="counter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-xl-5">
            <div class="text-container">
              <h2>
                <span>Awesome websites</span><br />
                built with tons of love
              </h2>
              <p>
                We're incredibly proud of the work we've done over the years,
                and the clients we've worked with.
              </p>

              <!-- Counter -->
              <div class="counter-container">
                <div class="counter-cell">
                  <div
                    data-purecounter-start="0"
                    data-purecounter-end="1250"
                    data-purecounter-duration="2"
                    class="purecounter"
                  >
                    1
                  </div>
                  <div class="counter-info">Happy Customers</div>
                </div>
                <!-- end of counter-cell -->
                <div class="counter-cell red">
                  <div
                    data-purecounter-start="0"
                    data-purecounter-end="1380"
                    data-purecounter-duration="2"
                    class="purecounter"
                  >
                    1
                  </div>
                  <div class="counter-info">Issues Solved</div>
                </div>
                <!-- end of counter-cell -->
              </div>
              <!-- end of counter-container -->
              <!-- end of counter -->
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
          <div class="col-lg-6 col-xl-7">
            <div class="image-container">
              <img
                class="img-fluid"
                src="{% static 'website/images/details-2.svg' %}"
                alt="alternative"
              />
            </div>
            <!-- end of image-container -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of counter -->
    <!-- end of details 2 -->

    <!-- Projects -->
    <div id="projects" class="filter bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="h2-heading">Projects that we're proud of</h2>
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- Filter -->
            <div class="button-group filters-button-group">
              <button class="button is-checked" data-filter="*">ALL</button>
              <button class="button" data-filter=".design">DESIGN</button>
              <button class="button" data-filter=".development">
                DEVELOPMENT
              </button>
              <button class="button" data-filter=".marketing">MARKETING</button>
            </div>
            <!-- end of button group -->
            <div class="grid">
              <div class="element-item development">
                <a href="article.html">
                  <img
                    class="img-fluid"
                    src="{% static 'website/images/project-1.jpg' %} "
                    alt="alternative"
                  />
                  <p>
                    <strong>Online banking</strong> - pellentesque tincidunt leo
                    eu laoreedt integer quis vanos compren
                  </p>
                </a>
              </div>

              <div class="element-item design marketing">
                <a href="article.html">
                  <img
                    class="img-fluid"
                    src="{% static 'website/images/project-6.jpg' %} "
                    alt="alternative"
                  />
                  <p>
                    <strong>Software robots</strong> - vel sodales dolor donec a
                    est sapien integer pharetr bilom conva
                  </p>
                </a>
              </div>

              <div class="element-item design marketing">
                <a href="article.html">
                  <img
                    class="img-fluid"
                    src="{% static 'website/images/project-9.jpg' %} "
                    alt="alternative"
                  />
                  <p>
                    <strong>Big business</strong> - aliquam semper molestie
                    nisi, at porttitor lacus suscipit in mole richter
                  </p>
                </a>
              </div>
            </div>
            <!-- end of grid -->
            <!-- end of filter -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of filter -->
    <!-- end of projects -->

    <!-- Testimonials -->
    <div class="slider-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- Card Slider -->
            <div class="slider-container">
              <div class="swiper-container card-slider">
                <div class="swiper-wrapper">
                  <!-- Slide -->
                  <div class="swiper-slide">
                    <div class="card">
                      <img
                        class="quotes"
                        src="{% static 'website/images/quotes.svg' %} "
                        alt="alternative"
                      />
                      <div class="card-body">
                        <p class="testimonial-text">
                          Fusce tincidunt dui nec diam varius venenatis. Nullam
                          tristique rutrum odio, ut tincidunt erat dictum in.
                          Etiam et aliquet mi, et vehicula elit fusce porta
                          ullamcorper
                        </p>
                        <div class="details">
                          <img
                            class="testimonial-image"
                            src="{% static 'website/images/testimonial-1.jpg' %} "
                            alt="alternative"
                          />
                          <div class="text">
                            <div class="testimonial-author">Samantha Bloom</div>
                            <div class="occupation">Team Leader - Syncnow</div>
                          </div>
                          <!-- end of text -->
                        </div>
                        <!-- end of testimonial-details -->
                      </div>
                    </div>
                  </div>
                  <!-- end of swiper-slide -->
                  <!-- end of slide -->

                  <!-- Slide -->
                  <div class="swiper-slide">
                    <div class="card">
                      <img
                        class="quotes"
                        src="{% static 'website/images/quotes.svg' %} "
                        alt="alternative"
                      />
                      <div class="card-body">
                        <p class="testimonial-text">
                          Mauris ut mattis nisl. Nunc ultrices nisi eget nisl
                          pulvinar iaculis vitae ac nulla. Nullam fringilla
                          varius blandit. Nam sit amet eleifend justo blogo
                          rovan de chichis kokos venir dab
                        </p>
                        <div class="details">
                          <img
                            class="testimonial-image"
                            src="{% static 'website/images/testimonial-2.jpg' %} "
                            alt="alternative"
                          />
                          <div class="text">
                            <div class="testimonial-author">Mike Page</div>
                            <div class="occupation">Developer - Chainlink</div>
                          </div>
                          <!-- end of text -->
                        </div>
                        <!-- end of testimonial-details -->
                      </div>
                    </div>
                  </div>
                  <!-- end of swiper-slide -->
                  <!-- end of slide -->

                  <!-- Slide -->
                  <div class="swiper-slide">
                    <div class="card">
                      <img
                        class="quotes"
                        src="{% static 'website/images/quotes.svg' %} "
                        alt="alternative"
                      />
                      <div class="card-body">
                        <p class="testimonial-text">
                          Nam sit amet eleifend justo. Aliquam sit amet lacinia
                          enim, eget facilisis ex. Ut pretium cursus eleifend.
                          Integer feugiat malesuada quam vel basil venis proca
                          jilo
                        </p>
                        <div class="details">
                          <img
                            class="testimonial-image"
                            src="{% static 'website/images/testimonial-3.jpg' %} "
                            alt="alternative"
                          />
                          <div class="text">
                            <div class="testimonial-author">Mary Longhorn</div>
                            <div class="occupation">Manager - Firstdev</div>
                          </div>
                          <!-- end of text -->
                        </div>
                        <!-- end of testimonial-details -->
                      </div>
                    </div>
                  </div>
                  <!-- end of swiper-slide -->
                  <!-- end of slide -->

                  <!-- Slide -->
                  <div class="swiper-slide">
                    <div class="card">
                      <img
                        class="quotes"
                        src="{% static 'website/images/quotes.svg' %} "
                        alt="alternative"
                      />
                      <div class="card-body">
                        <p class="testimonial-text">
                          Lorem ipsum dolor sit amet, consectetur ing elit.
                          Nulla id nisl tempus risus facilisis efficr ut
                          tincidunt vitae enim non vehicula. Phases vitae metus
                          in felis gravida ultrices zimbo
                        </p>
                        <div class="details">
                          <img
                            class="testimonial-image"
                            src="{% static 'website/images/testimonial-4.jpg' %} "
                            alt="alternative"
                          />
                          <div class="text">
                            <div class="testimonial-author">Ronny Drummer</div>
                            <div class="occupation">Designer - Sawdust</div>
                          </div>
                          <!-- end of text -->
                        </div>
                        <!-- end of testimonial-details -->
                      </div>
                    </div>
                  </div>
                  <!-- end of swiper-slide -->
                  <!-- end of slide -->
                </div>
                <!-- end of swiper-wrapper -->

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- end of add arrows -->
              </div>
              <!-- end of swiper-container -->
            </div>
            <!-- end of slider-container -->
            <!-- end of card slider -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of slider-1 -->
    <!-- end of testimonials -->

    <!-- Pricing -->
    <div id="pricing" class="cards-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="h2-heading">
              <span>Choose the package</span><br />
              that fits your budget and project
            </h2>
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">
            <!-- Card -->
            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  <img
                    class="decoration-lines"
                    src="{% static 'website/images/decoration-lines.svg' %} "
                    alt="alternative"
                  /><span>Landing page</span
                  ><img
                    class="decoration-lines flipped"
                    src="{% static 'website/images/decoration-lines.svg' %} "
                    alt="alternative"
                  />
                </div>
                <ul class="list-unstyled li-space-lg">
                  <li>Fusce pulvinar eu mi acm</li>
                  <li>Curabitur consequat nisl bro</li>
                  <li>Reget facilisis molestie</li>
                  <li>Vivamus vitae sem in tortor</li>
                  <li>Pharetra vehicula ornares</li>
                  <li>Vivamus dignissim sit amet</li>
                  <li>Ut convallis aliquama set</li>
                </ul>
                <div class="price">£200</div>
                <a href="#contact" class="btn-outline-reg">Get quote</a>
              </div>
            </div>
            <!-- end of card -->

            <!-- Card -->
            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  <img
                    class="decoration-lines"
                    src="{% static 'website/images/decoration-lines.svg' %} "
                    alt="alternative"
                  /><span>Website</span
                  ><img
                    class="decoration-lines flipped"
                    src="{% static 'website/images/decoration-lines.svg' %} "
                    alt="alternative"
                  />
                </div>
                <ul class="list-unstyled li-space-lg">
                  <li>Nunc commodo magna quis</li>
                  <li>Lacus fermentum tincidunt</li>
                  <li>Nullam lobortis porta diam</li>
                  <li>Announcing of invita mro</li>
                  <li>Dictum metus placerat luctus</li>
                  <li>Sed laoreet blandit mollis</li>
                  <li>Mauris non luctus est</li>
                </ul>
                <div class="price">£700</div>
                <a href="#contact" class="btn-outline-reg">Get quote</a>
              </div>
            </div>
            <!-- end of card -->

            <!-- Card -->
            <div class="card">
              <div class="card-body">
                <div class="card-title">
                  <img
                    class="decoration-lines"
                    src="{% static 'website/images/decoration-lines.svg' %} "
                    alt="alternative"
                  /><span>Online shop</span
                  ><img
                    class="decoration-lines flipped"
                    src="{% static 'website/images/decoration-lines.svg' %} "
                    alt="alternative"
                  />
                </div>
                <ul class="list-unstyled li-space-lg">
                  <li>Quisque rutrum mattis</li>
                  <li>Quisque tristique cursus lacus</li>
                  <li>Interdum sollicitudin maec</li>
                  <li>Quam posuere, pellentesque</li>
                  <li>Est nec, gravida turpis integer</li>
                  <li>Mollis felis. Integer id quam</li>
                  <li>Id tellus hendrerit lacinia</li>
                </ul>
                <div class="price">£2000</div>
                <a href="#contact" class="btn-outline-reg">Get quote</a>
              </div>
            </div>
            <!-- end of card -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of cards-2 -->
    <!-- end of pricing -->

    <!-- Invitation -->
    <div class="basic-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="text-container">
              <h4>
                In gravida at nunc sodales pretium. Vivamus semper, odio vitae
                mattis auctor, elit elit semper magna rico
              </h4>
              <p class="p-large">
                Ac tristique velit sapien vitae eros. Praesent ut erat a tellus
                cursus pharetra finibus posuere nisi. Vivamus feugiat tincidunt
                sem pre toro
              </p>
            </div>
            <!-- end of text-container -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of basic-2 -->
    <!-- end of invitation -->

    <!-- Contact -->
    <div id="contact" class="form-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2 class="h2-heading">
              <span>Use the following form to</span><br />
              request a quote for your project
            </h2>
            <p class="p-heading">
              Vel malesuada sapien condimentum nec. Fusce interdum nec urna et
              finibus pulvinar tortor id
            </p>
            <ul class="list-unstyled li-space-lg">
              <li>
                <i class="fas fa-map-marker-alt"></i> &nbsp;Portsmouth, PO1 5,
                PO
              </li>
              <li>
                <i class="fas fa-phone"></i> &nbsp;<a href="tel:07576101210"
                  >+7576101210</a
                >
              </li>
              <li>
                <i class="fas fa-envelope"></i> &nbsp;<a
                  href="mailto:idea.dev@yahoo.com"
                  >idea.dev@yahoo.com</a
                >
              </li>
            </ul>
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <!-- Contact Form -->
            <form>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control-input"
                  placeholder="Name"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  class="form-control-input"
                  placeholder="Email"
                  required
                />
              </div>
              <div class="form-group">
                <select class="form-control-select" required>
                  <option class="select-option" value="" disabled selected>
                    Project type
                  </option>
                  <option class="select-option" value="Company Website">
                    Website
                  </option>
                  <option class="select-option" value="Landing Page">
                    Landing Page
                  </option>
                  <option class="select-option" value="Online Shop">
                    Online Shop
                  </option>
                </select>
              </div>
              <div class="form-group">
                <textarea
                  class="form-control-textarea"
                  placeholder="Message"
                  required
                ></textarea>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control-submit-button">
                  Submit
                </button>
              </div>
            </form>
            <!-- end of contact form -->
          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </div>
      <!-- end of container -->
    </div>
    <!-- end of form-1 -->
    <!-- end of contact -->


{% endblock content %}