{% load static %}

    <!-- Navigation -->
    <nav
      id="navbarExample"
      class="navbar navbar-expand-lg fixed-top navbar-light"
      aria-label="Main navigation"
    >
      <div class="container">
        <!-- Image Logo -->
        {% comment %}
        <a class="navbar-brand logo-image" href="index.html"
          ><img
            src="{% static 'website/images/logo_4.svg' %}"
            alt="alternative"
        /></a>
        {% endcomment %}

        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <a class="navbar-brand logo-text" href="{% url 'index' %}">iDEA</a>

        <button
          class="navbar-toggler p-0 border-0"
          type="button"
          id="navbarSideCollapse"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div
          class="navbar-collapse offcanvas-collapse"
          id="navbarsExampleDefault"
        >
          <ul class="navbar-nav ms-auto navbar-nav-scroll">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'index' %}#header"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}#services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}#projects">Projects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}#pricing">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            {% comment %} Dropdown menu if I want {% endcomment %}

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="dropdown01"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >Blog</a
              >
              <ul class="dropdown-menu" aria-labelledby="dropdown01">
                <li>
                  <a class="dropdown-item" href="{% url 'articles' %}"
                    >Articles</a
                  >
                </li>
                <li><div class="dropdown-divider"></div></li>
                <li>
                  <a class="dropdown-item" href="{% url 'add_article' %}"
                    >Write An Article</a
                  >
                </li> 
                {% comment %} <li><div class="dropdown-divider"></div></li>
                <li>
                  <a class="dropdown-item" href="privacy.html"
                    >Privacy Policy</a
                  >
                </li> {% endcomment %}
              </ul>
            </li> 
          </ul>
          <span class="nav-item">
            <a class="btn-solid-sm" href="{% url 'index' %}#contact">Get quote</a>
          </span>
        </div>
        <!-- end of navbar-collapse -->
      </div>
      <!-- end of container -->
    </nav>
    <!-- end of navbar -->
    <!-- end of navigation -->


